* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
	list-style: none;
	text-decoration: none;
}

$font: 'Open Sans Condensed', sans-serif;

::selection{
	background: rgb(23, 34, 63);;
	color: #fff;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.6rem;
	line-height: 1.6;
	padding-bottom: 8rem;
}

img{
	width: 100%;
}
.container{
	width: 90%;
	max-width: 120rem;
	margin: 0 auto;
}


.btn{
	&:link,
	&:visited,
	&{
		border: 0;
		background: none;
		padding: 1rem 2rem;
		cursor: pointer;

		&:hover{
			opacity: 0.9;
		}
	}

	&__primary{
		background: #000;
		color: #fff;
	}
}



